<div class="top">
  <%= image_tag 'top.jpg', :id => "top_icon" %>
</div>

<br>
<br>
<br>
<br>
<div align="right">
  <div class="menu_area_1">
    <table>
      <br>
      <tr>
        <td>
          <%= link_to 'CONCEPT', controller: 'concepts', action: 'index'%>
        </td>
        <td><font color=#222222>　　　　　　k　　　　</font>>　</td>
      </tr>
    </table>
  </div>
</div>

<div align="right">
  <div class="menu_area_2">
    <table>
      <br>
      <tr>
        <td><%= link_to '待　遇', controller: 'treatments', action: 'index'%></td>
        <td><font color=#000000>k　　　　　　　　　　　</font>>　</td>
      </tr>
    </table>
  </div>
</div>

<div align="right">
  <div class="menu_area_1">
    <table>
      <br>
      <tr>
        <td><%= link_to '募集要項', controller: 'requirements', action: 'index'%></td>
        <td>　　　　　　　　　　　>　</td>
      </tr>
    </table>
  </div>
</div>

<div align="right">
  <div class="menu_area_2">
    <table>
      <br>
      <tr>
        <td><%= link_to '入店までの流れ', controller: 'flows', action: 'index'%></td>
        <td><font color=#000000>　　　　　　　kk</font>　>　</td>
      </tr>
    </table>
  </div>
</div>

<div align="right">
  <div class="menu_area_1">
    <table>
      <br>
      <tr>
        <td><%= link_to '応募フォーム', controller: 'applications', action: 'index'%></td>
        <td>　　　　　　　　　　>　</td>
      </tr>
    </table>
  </div>
</div>
